.nav-btn {
    color: #EAE2C2;
    font-size: 18px;
}

.create-btn {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    color: #FFFFFF;
    height: 36px;
    padding: 0 30px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.remove-all-btn {
    display: block;
    margin: 0 auto;
}

.recipe-btn, .login-btn, .register-btn {
    background-color: #FF6961;
    color: #fff;
}

.delete {
    background-color: red;
}

.update {
    background-color: orange;
}


