<div class="main-wrapper">
    <a href="/create">
        <app-button btnClass="create-btn" btnType="raised" btnText="CREATE RECIPE"></app-button>
    </a>

    <div class="main-contents-wrapper">
        <!-- {shoppingList.length > 0
            ? <ShoppingList
                list={shoppingList}
                removeAllHandler={removeAllHandler}
                removeFromShoppingListHandler={removeFromShoppingListHandler}
            />
            : null
        } -->

        <div class="card-flex-wrapper">
            <app-card *ngFor="let fetchedMeal of fetchedMeals" [fetchedMeal]="fetchedMeal" class="card-container">
            </app-card>
        </div>
    </div>
</div>