.main-wrapper {
    max-width: 1024px;
    min-height: calc(100vh - 200px);
    margin: 20px auto;
    padding: 0 20px;
}

.card-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    /* [theme.breakponts.down('md')]: {
        columnGap: 10,
        rowGap: 10,
    }, */
}

.main-contents-wrapper {
    display: flex;
    /* [theme.breakpoints.down('xs')]: {
        flexDirection: 'column'
    }, */
}

.card-container {
    width: 23%;
}