<div class="main-wrapper">
    <a href="/create">
        <app-button *ngIf="loggedIn" btnClass="create-btn" btnType="raised" btnText="CREATE RECIPE"></app-button>
    </a>

    <div class="main-contents-wrapper">
        <app-shopping-list *ngIf="shoppingListIngredients.length > 0" [shoppingListIngredients]="shoppingListIngredients" (removeAllHandler)="removeAllHandler()" (removeFromShoppingListHandler)="removeFromShoppingListHandler($event)"></app-shopping-list>
        <div class="card-flex-wrapper">
            <app-card *ngFor="let fetchedMeal of fetchedMeals" [fetchedMeal]="fetchedMeal" class="card-container" (addToShoppingListHandler)=addToShoppingListHandler($event)></app-card>
        </div>
    </div>
</div>