.main-wrapper-with-shopping-list {
    display: flex;
}

.left-row, .right-row {
    flex: 1;
}

.left-row {
    display: flex;
    flex-direction: column;
}

.sticky {
    align-self: flex-end;
    position: sticky;
    top: -80px;
}

.main-wrapper {
    max-width: 1024px;
    min-height: calc(100vh - 200px);
    margin: 40px auto;
    padding: 0 20px;
    flex: 10;
}

.card-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    /* [theme.breakponts.down('md')]: {
        columnGap: 10,
        rowGap: 10,
    }, */
}

.main-contents-wrapper {
    display: flex;
    /* [theme.breakpoints.down('xs')]: {
        flexDirection: 'column'
    }, */
}

.card-container {
    width: 23%;
}

.test {
    align-self: flex-end;
}