<div class="main-wrapper">
    <h3>Login Info</h3>

    <form #form="ngForm" (ngSubmit)="loginHandler(form)" class="login-form">

        <label for="email">Email:</label>
        <input
            type="text"
            name="email"
            id="email"
            placeholder="Enter your email adress"
            ngModel
        />

        <label for="password">Password:</label>
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            ngModel
        />

        <button type="submit">Login</button>
    </form>
</div>