<div class="main-wrapper">
    <h3>Login Info</h3>

    <form class="login-form">

        <label for="email">Email:</label>
        <input
            type="text"
            name="email"
            id="email"
            placeholder="Enter your email adress"
        />

        <label for="password">Password:</label>
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
        />

        <!-- <input onClick={(event) => submitHandler(event)} type="submit" name="Login" value="Login" /> -->
    </form>
</div>