<div class="main-wrapper">
    <h3>LOGIN INFO</h3>

    <form #form="ngForm" (ngSubmit)="loginHandler(form)" class="login-form">

        <label for="email">Email:</label>
        <input
            type="text"
            name="email"
            id="email"
            placeholder="Enter your email adress"
            ngModel
        />

        <label for="password">Password:</label>
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            ngModel
        />

        <app-button type=submit btnClass="login-btn" btnType="basic" btnText="LOGIN">
            LOGIN
        </app-button>

    </form>
</div>