h3 {
    color: #CF4B34;
    font-size: 50px;
    margin: 25px 0 20px 0;
    font-weight: 500;
    line-height: initial;
}

.update-container {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.update-form-container {
    display: flex;
    flex: 3;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}

.add-ingredient {
    align-self: center;
    border: 1px dashed #c4c4c4;
    width: 100%;
    padding: 10px 0;
    color: #c4c4c4;
    border-radius: 4px;
    cursor: pointer;
}

.add-ingredient:hover {
    border: 1px dashed #212121;
    color: #212121;
}

.recipe-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px dashed transparent;
}

.recipe-img:hover {
    cursor: pointer;
    opacity: 0.5;
    border: 1px dashed #212121;
}