.search-bar-form {
    width: 100%;
}

.search-bar {
    background: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    height: 1.1876em;
    padding: 10px 20px 7px 10px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.search-icon {
    color: #CF4B34;
}