a {
    color: #FF6961;
}

.card-container {
    width: 23%;
    /* [theme.breakpoints.down('md')]: {
        width: 'calc(33% - 10px)'
    },
    [theme.breakpoints.down('sm')]: {
        width: 'calc(50% - 10px)'
    },
    [theme.breakpoints.down('xs')]: {
        width: '100%'
    }, */
}

.recipe-img {
    height: 140px;
    object-fit: cover;
}

.recipe-name {
    overflow-wrap: anywhere;
}

.card-actions-container {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.recipe-actions {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.add-to-shopping-list-btn {
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(51, 51, 51);
    margin-right: 10px;
    height: 36px;
    width: 36px;
}

.add-to-shopping-list-btn:hover {
    background-color: #FF6961;
}

.add-to-shopping-list-icon {
    color: #FFF;
    line-height: 18px;
}