.card-container {
    width: 23%;
    /* [theme.breakpoints.down('md')]: {
        width: 'calc(33% - 10px)'
    },
    [theme.breakpoints.down('sm')]: {
        width: 'calc(50% - 10px)'
    },
    [theme.breakpoints.down('xs')]: {
        width: '100%'
    }, */
}

.recipeImg {
    height: 140px;
    object-fit: cover;
}

.card-actions-container {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.add-to-shopping-list-btn {
    padding-left: 0;
    padding-right: 0;
    background-color: #000;
}

.add-to-shopping-list-btn:hover {
    background-color: #FF6961;
}

.add-to-shopping-list-icon {
    color: #FFF;
}