<mat-card>

    <a href="/recipes/${id}">
        <img mat-card-image class="recipeImg" [alt]="fetchedMeal.name" [src]="imagePreview" />
    </a>

    <mat-card-title>{{fetchedMeal.name}}</mat-card-title>

    <mat-card-content>
        <p>
            {{fetchedMeal.description}}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <app-button btnType="basic" btnText="READ FULL RECIPE"></app-button>

        <button mat-mini-fab class="add-to-shopping-list-btn">
            <mat-icon class="add-to-shopping-list-icon">add</mat-icon>
        </button>
    </mat-card-actions>

</mat-card>