footer {
    width: 100%;
    height: 70px;
    background: #CF4B34;
    text-align: center;
    color: #EAE2C2;
    padding-top: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
}