<h3>Hello {{userEmail}}</h3>
<p *ngIf="fetchedMeals.length==1">You have {{fetchedMeals.length}} recipe</p>
<p *ngIf="fetchedMeals.length!=1">You have {{fetchedMeals.length}} recipes</p>
<div class="main-wrapper-with-shopping-list">
    <div class="left-row">
        <app-shopping-list *ngIf="shoppingListIngredients.length > 0"
            [shoppingListIngredients]="shoppingListIngredients" (removeAllHandler)="removeAllHandler()"
            (removeFromShoppingListHandler)="removeFromShoppingListHandler($event)" class="sticky">
        </app-shopping-list>
    </div>

    <div class="main-wrapper center-row">
        <div class="main-contents-wrapper">
            <div class="card-flex-wrapper">
                <app-card *ngFor="let fetchedMeal of fetchedMeals" [fetchedMeal]="fetchedMeal" class="card-container"
                    (addToShoppingListHandler)=addToShoppingListHandler($event)></app-card>
            </div>
        </div>
    </div>

    <div class="right-row">
    </div>

</div>