<div class="main-wrapper">
    <h3>CREATE A NEW RECIPE</h3>

    <div class="create-container">
        <ngx-dropzone (change)="onSelect($event)" accept="image/*" [multiple]="false" class="dropzone-container">
            <ngx-dropzone-label>Drag & drop a recipe image</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
            </ngx-dropzone-image-preview>
        </ngx-dropzone>

        <form #form="ngForm" class="create-form-container" (ngSubmit)="submitRecipeHandler(form)">

            <mat-form-field appearance="outline">
                <mat-label for="recipeName">Recipe Name</mat-label>
                <input matInput ngModel name="recipeName" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="recipeDescription">Recipe Description</mat-label>
                <textarea matInput #recipeDescriptionInput ngModel name="recipeDescription" maxlength="150" required></textarea>
                <mat-hint>Max characters = {{recipeDescriptionInput.value?.length || 0}}/150</mat-hint>
            </mat-form-field>

            <app-ingredients-input *ngFor="let recipeIngredient of recipeIngredientsLength; index as i" [dataIndex]="i"
                [recipeIngredient]="recipeIngredient" (setRecipeIngredients)="setRecipeIngredients($event)" (deleteRecipeIngredient)="deleteRecipeIngredient($event)">
            </app-ingredients-input>

            <button mat-mini-fab (click)="addIngredientsFieldHandler($event)" class="add-ingredient">
                <mat-icon>add</mat-icon>
            </button>

            <mat-form-field appearance="outline">
                <mat-label for="recipeDirections">Directions</mat-label>
                <textarea matInput ngModel name="recipeDirections" [matAutosizeMinRows]="10" [matTextareaAutosize]="true" required></textarea>
            </mat-form-field>
            
            <app-button btnClass="create recipe-btn" btnType="basic" btnText="CREATE">
                CREATE
            </app-button>
            <app-error-message *ngIf="error" [type]="error?.type" [message]="error?.message"></app-error-message>

        </form>
    </div>
</div>