<header class="header">
    <div class="main-wrapper">
        <div class="header-flex-wrapper">
            <a routerLink="/">
                <div class="logo">
                    <img class="logo-img" src="assets/cooking-logo.png" alt="Logo" />
                    <h1>Munch!</h1>
                </div>
            </a>
            <mat-form-field class="search-bar-form">
                <input type="search" matInput placeholder="Search…" class="search-bar"/>
            </mat-form-field>

            <div class="nav-container">
                <ul>
                    <a routerLink="/login" ><app-button *ngIf="!user" btnClass="nav-btn" btnType="basic" btnText="LOGIN"></app-button></a>
                    <app-button *ngIf="user" (click)="handleLogout()" btnClass="nav-btn" btnType="basic" btnText="LOGOUT"></app-button>
                    <a routerLink="/register"><app-button *ngIf="!user" btnClass="nav-btn" btnType="basic" btnText="REGISTER"></app-button></a>
                    <a routerLink="/profile" *ngIf="user"><app-button btnClass="nav-btn" btnType="basic" btnText="PROFILE"></app-button></a>
                </ul>
            </div>
        </div>
    </div>
</header>