<header class="header">
    <div class="main-wrapper">
        <div class="header-flex-wrapper">
            <a routerLink="/">
                <div class="logo">
                    <img class="logo-img" src="assets/cooking-logo.png" alt="Logo" />
                    <h1>Cookit</h1>
                </div>
            </a>

            <app-search-bar class="search-bar-container"></app-search-bar>

            <div class="nav-container">
                <ul>
                    <a routerLink="/login">
                        <app-button *ngIf="!user" btnClass="nav-btn" btnType="basic" btnText="LOGIN"></app-button>
                    </a>
                    <app-button *ngIf="user" (click)="handleLogout()" btnClass="nav-btn" btnType="basic"
                        btnText="SIGN OUT"></app-button>
                    <a routerLink="/register">
                        <app-button *ngIf="!user" btnClass="nav-btn" btnType="basic" btnText="REGISTER"></app-button>
                    </a>
                    <a routerLink="/profile" *ngIf="user">
                        <app-button btnClass="nav-btn" btnType="basic" btnText="MY RECIPES"></app-button>
                    </a>
                </ul>
                <span class="demo-credentials">
                    Demo credentials:
                    <br />
                    username: test@test.bg
                    <br />
                    password: 123123
                </span>
            </div>
        </div>
    </div>
</header>