h4 {
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid rgb(131, 131, 131);
}
.shopping-list-container {
    position: fixed;
    left: 30px;
    background: #E0E0E0;
    border: none;
    width: 240px;
    border-radius: 4px;
}

.shopping-list-container:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-repeat: repeat-x;
    background-size: 16px 32px;
    background-position: left bottom;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
}

.shopping-list-list-container {
    padding: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.shopping-list-list {
    list-style: none;
    padding: 0;
}

.shopping-list-item {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
}

.measurements-span {
    font-weight: bold;
    margin-right: 10px;
}

.remove-all-btn {
    line-height: normal;
}

.remove-one-btn {
    margin-left: 10px;
    cursor: pointer;
}

.remove-one-btn:hover {
    color: #FF6961;
}