<div class="ingredients-input-container">

    <mat-form-field appearance="outline" class="ingredients-input-text">
        <mat-label for="mealIngredients">{{recipeIngredient.ingredient}}</mat-label>
        <input type="text" matInput ngModel name="mealIngredients" #mealIngredients (keyup)="handleIngredientsChange(mealIngredients)" [placeholder]="recipeIngredient.ingredient" [value]="recipeIngredient.ingredient">
    </mat-form-field>

    <mat-form-field appearance="outline" class="ingredients-input-text">
        <mat-label for="ingredientsQuantity">{{recipeIngredient.quantity}}</mat-label>
        <input type="number" matInput ngModel name="ingredientsQuantity" #ingredientsQuantity (keyup)="handleIngredientsChange(ingredientsQuantity)" (change)="handleIngredientsChange(ingredientsQuantity)" [placeholder]="recipeIngredient.quantity" [value]="recipeIngredient.quantity">
    </mat-form-field>

    <mat-form-field appearance="outline" class="ingredients-input-text">
        <mat-label for="ingredientsMeasurement">{{recipeIngredient.measurement}}</mat-label>
        <mat-select ngModel name="ingredientsMeasurement" #ingredientsMeasurement (focus)="handleIngredientsChange(ingredientsMeasurement)">
            <mat-option *ngFor="let option of options" [value]="option.value">{{option.label}}</mat-option>
          </mat-select>
    </mat-form-field>

</div>