.ingredients-input-container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.ingredients-input-ingredient {
    flex: 3;
}

.ingredients-input-quantity {
    flex: 1;
}

.ingredients-input-measurement {
    flex: 1;
}

.delete-ingredient-icon {
    cursor: pointer;
    font-size: 40px;
    height: 30px;
    width: 30px;
    padding-top: 10px;
    padding-right: 15px;
}

.delete-ingredient-icon:hover {
    color: #CF4B34;
}
